@page "{guid}"
@model NetMonitor.Webapp.Pages.Hosts

@section Head {
    <style> 
    .detail input {
     width: 100%; 
    } 
    </style>
}

<h3>Information for Host: @Model.Host.Hostname</h3>
<form method="post">
    <button type="button" onclick="toggleMode()" class="nonEdit btn btn-outline-dark editBtn"> <i class="fa fa-edit"></i> Edit Host </button>
    <button type="submit" asp-page-handler="edit" class="edit btn btn-outline-success finishBtn"> <i class="fa-solid fa-check"></i> Finish Editing </button>
    <button type="submit" asp-page-handler="delete" class="btn btn-outline-danger edit">Delete <b> @Model.Host.Hostname </b></button>

    <div class="hostdetails">
        <div class="cell">
            <div class="label">Hostname</div>
            <div class="detail nonEdit">@Model.Host.Hostname</div>
            <div class="detail edit">
                <input asp-for="Host.Hostname"/>
            </div>
            <div class="validation edit">
                <span asp-validation-for="Host.Hostname"></span>
            </div>
        </div>
        <div class="cell">
            <div class="label">Description</div>
            <div class="detail nonEdit">@Model.Host.Description</div>
            <div class="detail edit">
                <input asp-for="Host.Description"/>
            </div>
            <div class="validation edit">
                <span asp-validation-for="Host.Description"></span>
            </div>
        </div>
        <div class="cell">
            <div class="label">IP Address</div>
            <div class="detail nonEdit">@Model.Host.IPAddress</div>
            <div class="detail edit">
                <input asp-for="Host.IPAddress"/>
            </div>
            <div class="validation edit">
                <span asp-validation-for="Host.IPAddress"></span>
            </div>
        </div>
        <div class="cell longcell">
            <div class="label">Long description</div>
            <div class="detail nonEdit">@Model.Host.LongDescription</div>
            <div class="detail edit">
                <input class="input" asp-for="Host.LongDescription"/>
            </div>
            <div class="validation edit">
                <span asp-validation-for="Host.LongDescription"></span>
            </div>
        </div>
    </div>
    <div class="cell">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
</form>
<h3>Services</h3>
<p>Number of services running on <i>@Model.Host.Hostname</i>: @Model.Host.Services.Count</p>
<form asp-page-handler="AssignService">
    <div class="row">
        <div class="col-4">
            <select class="form-select" asp-for="ServiceGuid" asp-items="@Model.ServiceSelectedList">
                <option value="" hidden>Select one service</option>
            </select>
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-outline-success">Add service</button>
        </div>
    </div>
</form>
<table class="table table-sm align-middle">
    <thead>
    <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Interval</th>
        <th>Retry Interval</th>
        <th>Service Type</th>
        <th>Information</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model.Host.Services)
    {
        <tr>
            <td> @s.Description.</td>
            <td> @s.LongDescription</td>
            <td> @s.NormalInterval seconds</td>
            <td> @s.RetryInterval seconds</td>
            <td> @s.ServiceType</td>
            <td class="text-center">
                <a asp-page="/Services" asp-route-guid="@s.Guid">
                    
                    <button type="button" class="btn btn-outline-info"><i class="fa-solid fa-circle-info fa-lg"></i></button>
                </a>
            </td>
            <td class="text-center">
                <form method="post" asp-page-handler="RemoveService">
                    <input type="hidden" name="guid" value="@s.Guid"/>
                    <button type="submit" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script> 
    let edit = window.location.href.indexOf("handler=edit") != -1; 
    function toggleMode() { edit = !edit; setDisplay(); } 
    function setDisplay() { 
        for (const el of document.querySelectorAll('.nonEdit')) el.hidden = edit; 
        for (const el of document.querySelectorAll('.edit')) el.hidden = !edit; 
    }
    setDisplay(); 
    </script>
}