@page "{guid}"
@model NetMonitor.Webapp.Pages.Hosts

<h3>Informationen zu Host: @Model.Host.Hostname</h3>
<button type="button" onclick="toggleMode()" class="nonEdit btn btn-outline-dark editBtn">
    <i class="fa fa-edit"></i> Edit Host
</button>
<form method="post" asp-page-handler="edit">

    <button type="submit" onclick="toggleMode()" class="edit btn btn-outline-success finishBtn">
        <i class="fa-solid fa-check"></i> Finish Editing
    </button>

    <table class="table table-sm">
        <thead>
        <tr>
            <th>Hostname</th> <th>Description</th> <th>IP-Adress</th> <th></th>
        </tr>
        </thead>
        <tbody>
        <td>
            <span class="nonEdit"> @Model.Host.Hostname </span>
            <span class="edit">
                <input asp-for="Host.Hostname"/>
            </span>
        </td>
        <td>
            <span class="nonEdit"> @Model.Host.Description </span>
            <span class="edit">
                <input asp-for="Host.Description" class="w-75"/>
            </span>
        </td>
        <td>
            <span class="nonEdit"> @Model.Host.IPAddress </span>
            <span class="edit">
                <input asp-for="Host.IPAddress" class="w-50"/>
            </span>
        </td> <td> </td>
        </tbody>
    </table>
    <div asp-validation-summary=All></div> <!-- is used to render a summary of form validation error messages.  -->
</form>
@if (Model.Host.LongDescription.Length > 0)
{
    <b>Long description</b>
    <p>@Model.Host.LongDescription</p>
}
<h3>Services</h3>
<p>Number of services running on <i>@Model.Host.Hostname</i>: @Model.Host.Services.Count</p>
<table class="table table-sm">
    <thead>
    <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Interval</th>
        <th>Retry Interval</th>
        <th>Service Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model.Host.Services)
    {
        <tr>
            <td> @s.Description.</td>
            <td> @s.LongDescription</td>
            <td> @s.NormalInterval seconds</td>
            <td> @s.RetryInterval seconds</td>
            <td> @s.ServiceType</td>
            <td>
                <a asp-page="/Services" asp-route-guid="@s.Guid">
                    <i class="fa-solid fa-circle-info fa-lg"></i>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script> 
    let edit = window.location.href.indexOf("handler=edit") != -1; 
    function toggleMode() { edit = !edit; setDisplay(); } 
    function setDisplay() { 
        for (const el of document.querySelectorAll('.nonEdit')) el.hidden = edit; 
        for (const el of document.querySelectorAll('.edit')) el.hidden = !edit; 
    }
    setDisplay(); 
    </script>
}